---
import Layout from "../layouts/Layout.astro";
import "@tabler/icons-webfont/dist/tabler-icons.min.css";
// import { Image } from "astro:assets";
// import { turso } from "../db/turso";

// import { createClient } from "@libsql/client/web";

// export const turso = createClient({
//   url: Astro.locals.runtime.env.TURSO_DATABASE_URL,
//   authToken: Astro.locals.runtime.env.TURSO_AUTH_TOKEN,
// });

const hi = Astro.locals.runtime.env.TURSO_DATABASE_URL

if (Astro.request.method === "POST") {
  try {
    console.log("POSTING!");
    const data = await Astro.request.formData();
    const email = data.get("email") as string;
    // const result = await turso.execute({
    //   sql: "INSERT INTO collected_emails (ID, email) VALUES (null, ?)",
    //   args: [email],
    // });
  } catch {
    console.log("ERROR");
  }
}
---

<Layout title="PinkuPanda - En desarrollo">
  <main
    class="min-h-[100dvh] content-center bg-gradient-to-r from-30% from-cyan-50 to-70% to-pastel-pink-100"
  >
    <section
      class="bg-transparent backdrop-brightness-105 flex flex-col lg:flex-row w-full max-w-6xl rounded-xl p-12 gap-4 lg:gap-12 mx-auto shadow-2xl shadow-pastel-pink-950/30 border border-pastel-pink-400/50 items-center"
    >
      <img class="max-w-52 lg:max-w-96" src="/img/panda_hello.png" alt="" />
      <div class="w-full">
        <div class="text-center mb-4">
          <span class="text-3xl">Bienvenido a {hi}</span>
          <h1 class="text-6xl font-gorditas text-pastel-pink-500">
            Pinku Panda
          </h1>
        </div>
        <div class="text-xl">
          <p>
            Estamos construyendo nuestra plataforma web para que tengas la mejor
            experiencia de compra.
          </p>
          <p>
            Mientras tanto, puedes seguirnos y contactarnos en nuestras redes
            sociales:
          </p>
        </div>
        <div class="flex justify-center mb-4">
          <a
            class="grid text-center"
            href="https://instagram.com/pinkupanda.cl"
            target="_blank"
          >
            <i class="ti ti-brand-instagram text-6xl text-pastel-pink-500"></i>
            <span class="font-bold">Instagram</span>
          </a>
        </div>
        <div class="text-xl">
          <p>
            ¡Podemos avisarte cuando todo esté listo! y así serás uno de los
            primeros en acceder y ver el catálgo que tenemos para ti.
          </p>
          <form method="POST" class="grid gap-4">
            <label class="grid text-base gap-1">
              Ingresa tu correo
              <input
                class="border-wild-sand-200 border h-11 rounded-md px-2 outline-pastel-pink-100"
                type="email"
                name="email"
              />
            </label>
            <button
              class="bg-cyan-700 px-4 py-2 text-cyan-50 rounded-md w-full"
              type="submit">¡Quiero estar al tanto!</button
            >
          </form>
        </div>
      </div>
    </section>
  </main>
</Layout>
