---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PinkuPanda - Poleras con tu estilo">
	<header>
		<div>
			<h1>Personaliza con Inteligencia Artificial</h1>
			<p>
				Regístrate e impulsa tu creatividad. Obtén resultados únicos para tus
				productos logrando plasmar tu personalidad en ellos.
			</p>
		</div>
		<div>
			<img src="./img/manchapinku.png" alt="" />
			<img src="./img/koreanos_pinkupanda 1.png" alt="" />
		</div>
	</header>
	<main>
		<section>
			<div>
				<h2>Crea</h2>
				<p>tu propio diseño</p>
				<img src="./img/polerahipno.png" alt="" />
			</div>
			<div>
				<h2>Poleras</h2>
				<p>100% algodón</p>
				<img src="./img/koreanos_pinkupanda 1.png" alt="" />
			</div>
			<div>
				<h2>Originales</h2>
				<p>y con estilo</p>
				<img src="./img/occidentales_pinkupanda1.png" alt="" />
			</div>
		</section>
		<section>
			<h3>Puedes confiar en nosotros</h3>
			<div></div><h4>Envío rápido y seguro</h4>
			<p>
				Tenemos alianzas con los courries más confiables para que tu paquete
				llegue rápido e integro a la puerta de tu casa.
			</p>
			<img src="./img/panda_shipping.png" alt="" />
		</section>
		<div>
			<h4>Pago seguro</h4>
			<p>
				Paga de forma segura en nuestra plataforma gracias a nuestro proveedor
				de pagos en línea.
			</p>
			<img src="./img/panda_paid.png" alt="" />
		</div>
		<div>
			<h4>Experiencia</h4>
			<p>
				Tu experiencia es muy importante para nosotros. No dudes en contactarnos
				con tus dudas y sugerencias.
			</p>
			<img src="./img/happyphone..png" alt="" />
		</div>
	</main>
	<section>
		<h3>Nuestros nuevos diseños</h3>
		<article>
			<img src="./img/polerapinku.png" alt="" />
			<h3>Polera estampilla Panda $25,000</h3>
		</article>
		<article>
			<img src="./img/poleragarza.png" alt="" />
			<h3>Polera Garza Yagasuri $25,000</h3>
		</article>
		<article>
			<img src="./img/poleragengar.png" alt="" />
			<h3>Polera Gengar artístico $25,000</h3>
		</article>
	</section>
	<section>
		<h3>Tazas más pedidas</h3>
		<article>
			<img src="./img/taza1.png" alt="" />
			<h3>Taza motivo Día de la Madre $5,000</h3>
		</article>
		<article>
			<img src="./img/taza2.png" alt="" />
			<h3>Taza motivo Panda kawaii $5,000</h3>
		</article>
		<article>
			<img src="./img/taza3.png" alt="" />
			<h3>Taza motivo Pikachu origami $5,000</h3>
		</article>
	</section>
</Layout>
<footer></footer>
