---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PinkuPanda - Poleras con tu estilo">
	<header>
		<div>
			<h1>Personaliza con Inteligencia Artificial</h1>
			<p>
				Regístrate e impulsa tu creatividad. Obtén resultados únicos para tus
				productos logrando plasmar tu personalidad en ellos.
			</p>
		</div>
		<div>
			<img src="./img/manchapinku.png" alt="" />
			<img src="./img/koreanos_pinkupanda 1.png" alt="" />
		</div>
	</header>
	<main>
		<section>
			<div>
				<h2>Crea</h2>
				<p>tu propio diseño</p>
				<img src="./img/polerahipno.png" alt="" />
			</div>
			<div>
				<h2>Poleras</h2>
				<p>100% algodón</p>
				<img src="./img/koreanos_pinkupanda 1.png" alt="" />
			</div>
			<div>
				<h2>Originales</h2>
				<p>y con estilo</p>
				<img src="./img/occidentales_pinkupanda1.png" alt="" />
			</div>
		</section>
		<section></section>
		<section></section>
		<section></section>
	</main>
	<footer></footer>
</Layout>
