---
import Layout from "../layouts/Layout.astro";
import "@tabler/icons-webfont/dist/tabler-icons.min.css";

const email = Astro.url.searchParams.get("email");
const referer = Astro.request.headers?.get("referer");
const hasReferer = referer !== null;
const refererURL = hasReferer && new URL(referer);

if (refererURL?.pathname !== "/") {
  return Astro.redirect("/");
}
---

<Layout title="PinkuPanda - En desarrollo">
  <main
    class="min-h-[100dvh] content-center bg-gradient-to-r from-30% from-cyan-50 to-70% to-pastel-pink-100"
  >
    <section
      class="bg-transparent backdrop-brightness-105 flex flex-col lg:flex-row w-full max-w-6xl rounded-xl p-12 gap-4 lg:gap-12 mx-auto shadow-2xl shadow-pastel-pink-950/30 border border-pastel-pink-400/50 items-center"
    >
      <img class="max-w-52 lg:max-w-96" src="/img/panda_hello.png" alt="" />
      <div class="w-full">
        <div class="text-center mb-4">
          <span class="text-3xl">Bienvenido a</span>
          <h1 class="text-6xl font-gorditas text-pastel-pink-500">
            Pinku Panda
          </h1>
        </div>
        <div class="text-xl">
          <p>
            ¡Gracias, tu correo <b>{email}</b>, ha sido registrado con éxito!
          </p>
          <p>
            Cuando tengamos nuestra plataforma en funcionamiento te avisaremos
            para que puedas ver todo lo que tenemos para ti.
          </p>
          <p>
            Mientras tanto, puedes seguirnos y contactarnos en nuestras redes
            sociales:
          </p>
        </div>
        <div class="flex justify-center mb-4">
          <a
            class="grid text-center"
            href="https://instagram.com/pinkupanda.cl"
            target="_blank"
          >
            <i class="ti ti-brand-instagram text-6xl text-pastel-pink-500"></i>
            <span class="font-bold">Instagram</span>
          </a>
        </div>
        <div class="text-xl">
          <p>
            Estaremos mostrando nuestros diseños para que puedas elegir y
            comprar contactando directo con nosotros.
          </p>
          <p class="text-center">¡Nos vemos pronto!</p>
        </div>
      </div>
    </section>
  </main>
</Layout>
